.p
{ 
    font-size: 9px;
    background-color: #000000;
    color: white;
    padding: 15px 0;
    text-align: center;
}
.m
{
    text-align: left;
    color: aliceblue;
}
.p1
{
    background-image: url(p5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.b
{
    background-image: url(p5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.bande
{
    background-color: azure;
    color: aqua;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.a
{
    background: linear-gradient(to right,rgb(20, 187, 162),white);
}
.wa
{
    font-size: 35px;
    color:#25d366;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 50px;
}

